black==25.9.0
cachetools==6.2.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
coverage==7.10.7
durationpy==0.10
flake8==7.3.0
google-auth==2.41.1
idna==3.10
iniconfig==2.1.0
kubernetes==34.1.0
lxml==6.0.2
mccabe==0.7.0
mypy==1.18.2
mypy_extensions==1.1.0
oauthlib==3.3.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
pluggy==1.6.0
prometheus_client==0.23.1
psutil==7.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
pytest-kubernetes==0.6.0
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pytokens==0.1.10
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
typing_extensions==4.15.0
unittest-xml-reporting==3.2.0
urllib3==2.3.0
websocket-client==1.8.0
wheel==0.45.1
